html, body {
color: #000;
background-color: #fff;
height: 100%;
}
#login {
width: 100%;
font-size: 0.8em;
text-align: right;
border-bottom: 2px solid #273558;
color: #273558;
}
#login a,
#login a:visited {
color: #273558;
}
h1 {
color: #000;
font-style: italic;
}
#copyright {
position: absolute;
bottom: 0;
left: 0;
right: 0;
padding: 5px 0;
margin: 5px 0 0;
border-top: 2px solid #3A6DA6;
font-size: 0.6em;
background-color: #eee;
}
#copyright span {
font-weight: bold;
}
form {
background-color: #aaa;
border: 2px solid #ccc;
border-radius: 2em;
width: 50%;
padding: 2em;
margin-bottom: 2em;
}
form label {
display: block;
width: 100%;
}
iframe {
width: 80%;
height: 18em;
}
